.list-autos
{
    display: flex;
    justify-content: space-between;
    margin: 7px;
    padding: 5px;
    background-color: rgb(144, 200, 253);
    border-radius: 5px;
}
.select
{
    cursor: pointer;
}
