<br>
<div class="container">
    
  <div class="">
      <div>
        <button type="button" class="btn btn-lg btn-outline-dark" (click)="openModalAgregar();"><span> Agregar </span><fa-icon class="select" [icon]="faPlus"></fa-icon>

        </button>
      </div>
      
      <div >
        <ngb-pagination class="d-flex justify-content-center" 
            [maxSize]="12" 
            [rotate]="true" 
            [collectionSize]="collectionSize" 
            [boundaryLinks]="true" 
            [(page)]="page" 
            [pageSize]="pageSize">
          </ngb-pagination>
      </div>

      <hr *ngIf="displayProgressBar">
      <p *ngIf="displayProgressBar" ><ngb-progressbar [value]="500" [animated]="true" [striped]="true" type="dark"></ngb-progressbar></p>


    </div>

  <table *ngIf="!displayProgressBar" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">N°</th>

      <th scope="col">Marca</th>
      <th scope="col">Submarca</th>
      <th scope="col">Descripción</th>

      <th class="centrar" scope="col">Modelos</th>

      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let auto of autos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
      <th scope="row">{{ (i+1) + (page-1) * pageSize }}</th>

      <td>{{auto.marca }}</td>
      <td>{{auto.submarca}}</td>
      <td>{{auto.descripcion | formatoDescripcionAutos : 40}}</td>
      <td class="centrar">{{auto.modelos | formatoModelosAutos}}</td>


      <td>
        <fa-icon class="select" [icon]="faEdit" (click)="openModalEditar(auto);" ></fa-icon>
      </td>
      <td>
        <fa-icon class="select" [icon]="faTrash" (click)="openModalEliminar(auto);"></fa-icon>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
  <div>
    <ngb-pagination class="d-flex justify-content-center" 
        [maxSize]="12" 
        [rotate]="true" 
        [collectionSize]="collectionSize" 
        [boundaryLinks]="true" 
        [(page)]="page" 
        [pageSize]="pageSize">
    </ngb-pagination>

  </div>
</div>
