.table td, .table th {
    padding: .45rem;
    vertical-align: middle;
    font-size: 18px;


}
label {
    /* display: inline-block; */
    /* text-size-adjust: auto; */
    font-size: 20px;
    margin-bottom: 0rem;

}
.table-striped tbody tr:nth-of-type(odd) {
    background-color:rgba(222,226,240);
}

td.centrar, th.centrar
{
    display: flex;
    justify-content: center;
    /* border-top: 1px solid #dee2e6; */

}
fa-icon.ng-fa-icon {
    margin-left: 10px;
}

input.form-control.form-control-sm[type=text]{
    width: 40%;
    margin-left: 2rem;
}

input.form-control.form-control-sm[type=text]:focus:not([readonly]) {
    width: 40%;
    margin-left: 2rem;
    border: 1px solid #142850;
}
