<!-- <ng-template #editModal let-modal> -->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{accion}} {{autoMarca}} {{autoSubmarca}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
                        <!-- ↓ (ngSubmit)="sendModal()" -->
    <form #formAutos="ngForm"  novalidate> 
      <div class="modal-body">
        <form>
          <div class="form-group">
            
              <!-- Text input-->
              <div class="form-group">
                <label>ID</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto._id" name="autoid" placeholder="Ex: Toyota" class="form-control" disabled></div>
                <div *ngIf="agregar"><input type="text" [(ngModel)]="autoId" name="autoid2" placeholder="Autogenerado" class="form-control" disabled></div>
              
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label>Marca</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.marca" name="marca" placeholder="Ex: Toyota" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" [(ngModel)]="autoMarca" name="marca2" placeholder="Ex: Toyota" class="form-control"></div>
              
              </div>
  
              <!-- Text input-->
              <div class="form-group">
                <label>Submarca</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.submarca" name="submarca" placeholder="Ex: Yaris" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" [(ngModel)]="autoSubmarca" name="submarca2" placeholder="Ex: Yaris" class="form-control"></div>
              </div>
  
              <!-- Text input-->
              <div class="form-group">
                <label>Modelos</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.modelos" name="modelos" placeholder="Ex: 2012, 2014, 2020" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" [(ngModel)]="autoModelos" name="modelos2" placeholder="Ex: 2012, 2014, 2020" class="form-control"></div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label>Descripción</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.descripcion" name="descripcion" placeholder="Ex: Yaris Premium L4 TDI STD 4 ABS CA CE" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" [(ngModel)]="autoDescripcion" name="descripcion2" placeholder="Ex: Yaris Premium L4 TDI STD 4 ABS CA CE" class="form-control"></div>
              </div>
            
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss('Cancelar button')">Cancelar</button>
        <button type="submit" class="btn btn-outline-primary" (click)="activeModal.close(sendModal())">Guardar</button>
                                                            <!-- (click)="activeModal.close(auto) -->
      </div>


    </form>
    
    
    
<!-- </ng-template> -->
