<!-- <ng-template #editModal let-modal> -->
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{accion}} {{autoMarca}} {{autoSubmarca}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <form #formAutos="ngForm" > 
      <div class="modal-body">
        <form>
          <div class="form-group">
            
              <!-- Text input-->
              <div class="form-group">
                <label>Marca</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.marca" name="txtMarca" placeholder="Ex: Toyota" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" placeholder="Ex: Toyota" class="form-control"></div>
              </div>
  
              <!-- Text input-->
              <div class="form-group">
                <label>Submarca</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.submarca" name="txtSubmarca" placeholder="Ex: Yaris" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" placeholder="Ex: Yaris" class="form-control"></div>
              </div>
  
              <!-- Text input-->
              <div class="form-group">
                <label>Modelos</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.modelos" name="txtModelos" placeholder="Ex: 2012, 2014, 2020" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" placeholder="Ex: 2012, 2014, 2020" class="form-control"></div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label>Descripción</label>  
                <div *ngIf="editar"><input type="text" [(ngModel)]= "auto.descripcion" name="txtDescripcion" placeholder="Ex: Yaris Premium L4 TDI STD 4 ABS CA CE" class="form-control"></div>
                <div *ngIf="agregar"><input type="text" placeholder="Ex: Yaris Premium L4 TDI STD 4 ABS CA CE" class="form-control"></div>
              </div>
            
          </div>
        </form>
      </div>
    </form>
    
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close('Save click')">Cancelar</button>
      <button type="submit" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Guardar</button>
    </div>
<!-- </ng-template> -->
