/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    margin: 0px;
    font-family: rubik,arial;
    font-size: 22px;
    /* color: #142850; */

}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    
}
a.active {
    color: gray;
    cursor: pointer;
    text-decoration: none; 
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #142850;
    background-color: #fff;
    border: 1px solid #dee2e6;
    font-size: 18px;
}
.select
{
    cursor: pointer;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #142850;
    border-color: #b6d9ff;
}