/* You can add global styles to this file, and also import other style files */
body {
    display: block;
    margin: 0px;
    font-family: rubik,arial;
    font-size: 22px;
    color: #142850;

}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    
}
a.active {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    
}