<br>
<div class="container jumbotron">
    
    <h1 class="display-3">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                404 page not found
            </font>
        </font>
    </h1>

    <div>
    <span><img src="assets/pagina-no-encontrada.jpg" alt=":c" width="60%"></span>
    </div>
    <!-- <p class="lead">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                La URL solicitada no se encontró en este servidor.
            </font>
        </font>
    </p> -->
</div>